console-reports:
  active: true

output-reports:
  active: true
  exclude:
    - 'TxtOutputReport'
    - 'XmlOutputReport'
    - 'SarifOutputReport'

build:
  maxIssues: 0
  weights:
    complexity: 2
    formatting: 1
    LongParameterList: 1
    comments: 1

processors:
  active: true

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  SuspendFunSwallowedCancellation:
    active: true
  SuspendFunWithCoroutineScopeReceiver:
    active: true

complexity:
  active: true
  ComplexCondition:
    active: true
    threshold: 6
  ComplexInterface:
    active: true
    threshold: 20
    includeStaticDeclarations: false
  CyclomaticComplexMethod:
    active: true
    threshold: 35
  LabeledExpression:
    active: false
  LargeClass:
    active: true
    threshold: 1000
  MethodOverloading:
    active: false
    threshold: 5
  NestedBlockDepth:
    active: true
    threshold: 7
  StringLiteralDuplication:
    active: false
    threshold: 2
    ignoreAnnotation: true
    excludeStringsWithLessThan5Characters: true
    ignoreStringsRegex: '$^'
  TooManyFunctions:
    active: true
    thresholdInFiles: 50
    thresholdInClasses: 50
    thresholdInInterfaces: 20
    thresholdInObjects: 50
    thresholdInEnums: 50

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
  EmptyClassBlock:
    active: true
  EmptyDefaultConstructor:
    active: true
  EmptyDoWhileBlock:
    active: true
  EmptyElseBlock:
    active: true
  EmptyFinallyBlock:
    active: true
  EmptyForBlock:
    active: true
  EmptyFunctionBlock:
    active: false
  EmptyIfBlock:
    active: true
  EmptyInitBlock:
    active: true
  EmptyKtFile:
    active: true
  EmptySecondaryConstructor:
    active: true
  EmptyWhenBlock:
    active: true
  EmptyWhileBlock:
    active: true

exceptions:
  active: true
  NotImplementedDeclaration:
    active: true
  ThrowingExceptionInMain:
    active: true

naming:
  active: true
  BooleanPropertyNaming:
    active: true

performance:
  active: true
  CouldBeSequence:
    active: true

potential-bugs:
  active: true
  CastNullableToNonNullableType:
    active: true
  CastToNullableType:
    active: true
  DontDowncastCollectionTypes:
    active: true
