<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 Erwin Kok. BSD-3-Clause license. See LICENSE file for more details.
  -->

<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
